{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% block body %}
<!-- ======= Header ======= -->
<section id="breadcrumbs" class="breadcrumbs" style="background-color:#E3E3E3">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h4>Contact Us</h4>
        <ol>
          <li><a href="home">Home</a></li>
          <li>Contact Us</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46129.355104143564!2d76.57100285388604!3d30.758161388946345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ffb140bd63e07%3A0x68591e334d17a988!2sChandigarh%20University!5e0!3m2!1sen!2sin!4v1636785088281!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-bank"></i>
                <h4>University:</h4>
                <p>Chandigarh University</p>
              </div>

              <div class="email">
                <i class="bi bi-geo-alt"></i>
                <h4>Address:</h4>
                <p>NH-95, Ludhiana - Chandigarh State Hwy, Punjab 140413</p>
              </div>

              <div class="phone">
                <i class="bi-credit-card-2-back-fill"></i>
                <h4>Project Name:</h4>
                <p>Credit Card Fraud Detection </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <div class="row">
              <div class="col footer-links">
                <h4>Project Members Name</h4>
                <ol>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://www.linkedin.com/in/kuberkhandelwal/" target="_blank">Kuber Khandelwal</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://www.linkedin.com/in/iktaj-bhinder/" target="_blank">Iktaj Singh Bhinder </a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="http://www.linkedin.com/in/ashish-kumar-2903" target="_blank">Ashish Kumar</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://www.linkedin.com/in/prerna-verma-6737081a3/"target="_blank">Prerna Verma</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://www.linkedin.com/in/isha-arora-b124901a4" target="_blank">Isha Arora</a></li>
                </ol>
              </div>
              <div class="col footer-links">
                <h4>Project Members E-mails</h4>
                <ol>
                  <li><i class="bx bx-chevron-right"></i> 19BCS3815@cuchd.in</li>
                  <li><i class="bx bx-chevron-right"></i> 19BCS3843@cuchd.in</li>
                  <li><i class="bx bx-chevron-right"></i> 19BCS3833@cuchd.in</li>
                  <li><i class="bx bx-chevron-right"></i> 19BCS3777@cuchd.in</li>
                  <li><i class="bx bx-chevron-right"></i> 19BCS3789@cuchd.in</li>
                </ol>
              </div>
              

      </div>
    </section><!-- End Contact Section -->


{% endblock body %}

<!--<div class="alert_0">-->
<!--      <strong>Request Project!</strong> For other projects contact us.-->
<!--    Charges as per level of the project.-->
<!--    </div>-->
<!--<div class="alert_0">-->
<!--      <strong>Request Project!</strong> For other projects contact us.-->
<!--    Charges as per level of the project.-->
<!--    </div>-->
<!--</div>